fastapi==0.115.6
uvicorn[standard]==0.34.0
motor==3.6.0
pydantic==2.10.4
pydantic-settings==2.7.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
python-dotenv==1.0.1
email-validator==2.2.0
feedparser==6.0.11
googlenewsdecoder
beautifulsoup4
shapely
requests==2.32.3
groq==0.13.0